.services__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  align-items: stretch;
}

.service {
  background: var(--color-bg-variant);
  border-radius: 2rem;
  border: 1px solid var(--color-primary);
  transition: var(--transition);
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* push last element to bottom */
}

.service:hover {
  background: transparent;
  border-color: var(--color-primary-variant);
  cursor: default;
}

.service__head {
  background: var(--color-darkened-magical);

  padding: 2rem;
  border-radius: 2rem 2rem 0 0;
  box-shadow: 0 2rem 1rem rgba(0, 0, 0, 0.1);
}

.service__head h3 {
  color: var(--color-white);
  font-size: 1.5rem;
  text-align: center;
}

.service__list {
  padding: 2rem;
}

.service__list li {
  display: flex;
  align-items: flex-start;
  margin: 1rem;
  gap: 1rem;
  margin-bottom: 0.8rem;
}

.preaction {
  margin: 0.5rem;
  margin-bottom: 2.5rem;
  display: grid;
  grid-template-columns: 1fr, 2fr;
  gap: 0.2rem;
  justify-content: center;
  text-align: center;
}

.action {
  margin: 0.5rem;
  margin-bottom: 2.5rem;
  display: grid;
  grid-template-columns: 1fr, 2fr;
  gap: 0.5rem;
  justify-content: center;
  text-align: center;
}

.sidebyside h2,
h6 {
  display: inline;
  vertical-align: baseline;
}
.sidebyside h2 {
  color: var(--color-white);
  font-size: 2.2rem;
}

.service__list-icon {
  color: var(--color-primary);
  margin-top: 2px;
}

p {
  text-align: center;
  justify-content: center;
}

.service__list p {
  text-align: left;
  font-size: 1rem;
}

/* ================ MEDIA QUERIES (MEDIUM DEVICES) ================ */
@media screen and (max-width: 1200px) {
  .services__container {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 1rem;
  }

  .service__head h3 {
    font-size: 0.9rem;
  }

  .service__list {
    padding: 0.5rem;
  }

  .sidebyside h2 {
    color: var(--color-white);
    font-size: 1.2rem;
  }

  .service__list p {
    text-align: left;
    font-size: 0.9rem;
  }
}

/* ================ MEDIA QUERIES (SMALL DEVICES) ================ */
@media screen and (max-width: 800px) {
  .services__container {
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }

  .service__head h3 {
    font-size: 1.2rem;
  }

  .service__list {
    padding: 1.5rem;
  }

  .service__list p {
    font-size: 0.7rem; // slightly smaller body text for small phones
  }
}
