.about__cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.5rem;
    padding-bottom: 5rem;
}

.about__card {
    background: var(--color-bg-variant);
    border-radius: 1rem;
    padding: 2rem;
    text-align: center;

    & :hover {
        background: transparent;
        border: 1px var(--color-bg-variant);
        cursor: default;
    }

    & h5 {
        font-size: 0.95rem;
    }

    & small {
        font-size: 0.7rem;
        color: var(--color-light);
    }
}



.about__container {
    display: grid;
    grid-template-columns: 35% 55%;
    gap: 10%;
    min-height: max-content;
}

.about__me {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 2rem;
    background: linear-gradient(
        45deg, 
        transparent,
        var(--color-light),
        transparent
    );
    display: grid;
    place-items: center;
}

.about__me-image {
    border-radius: 2rem;
    overflow: hidden;
    transform: rotate(7deg);
 
    & :hover {
        transform: rotate(0deg);
    }
}

.icon {
    color: var(--color-primary);
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

.paragraph {
    place-items: center;
    
    & p {
        margin: 0 0 1rem;
        color: var(--color-white);
    }
}

.btn2 {
    color: var(--color-white);
    background: transparent;
    border-color: transparent;
    width: max-content;
    padding: 0.75rem 1.2rem;
    border-radius: 0.4rem;
    cursor: pointer;
    transition: var(--transition);
    margin-bottom: 1rem;
    font-size: 0.5 rem;
    
    & :hover {
        color: var(--color-primary);
        border-color: transparent;
    }
}

/* ================ MEDIA QUERIES (MEDIUM DEVICES) ================ */
@media screen and (max-width: 1024px) {
   .about__container{
    grid-template-columns: 1fr;
    gap: 0;
   }

   .about__me {
    width: 50%;
    margin: 2rem auto 4rem;
   }

   .about__content {
    justify-content: center;
    text-align: center;
   }
}

/* ================ MEDIA QUERIES (SMALL DEVICES) ================ */
@media screen and (max-width: 600px) {
    .about__me{
        margin: 0 auto 3rem;
        width: 65%;
    }

    .about__cards {
        grid-template-columns: repeat(1, minmax(0, 1fr));
        gap: 1rem;
    }

    .about__content {
        text-align: center;
    }

    .about__content p{
        margin: 1.5rem 0;
    }

    .panel-wrapper {
        width: 95%
    }
}